{% extends 'base.html' %}

{% load comments_extras %}


{% block main_contain_region %}
    {% if blog_post %}
        <article class="post post-{{ blog_post.id }}">
            <header class="entry-header">
                <h1 class="entry-title">{{ blog_post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="{% url 'blog:category' blog_post.category_id%}">{{ blog_post.category.category_name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date">{{ blog_post.created_at }}</time></a></span>
                <span class="post-author"><a href="#">{{ blog_post.author }}</a></span>
                <span class="comments-link"><a href="{{ blog_post.get_absolute_url }}#comment-area">{{ blog_post.comment_set.count }} 评论</a></span>
                <span class="views-count"><a href="#">{{ blog_post.views }} 阅读</a></span>
                <span class="likes-count"><a href="#">{{ blog_post.likes }} 喜欢</a></span>
            </div>
            </header>

            <div class="entry-content clearfix">
                {{ blog_post.text|safe }}
            </div>
        </article>
    {% endif %}
{% endblock %}

{% block comment_region %}
    <!-- Comment region -->
    <section class="comment-area" id="comment-area">
    <hr>
    <h3>发表评论</h3>
        {% show_comment_form blog_post %}
        {% comment_list blog_post.id %}
    </section>
{% endblock %}

{% block blog_post_toc %}
    <!-- table of content -->
    {% if blog_post.toc %}
        <div class="widget widget-content">
            <h3 class="widget-title">文章目录</h3>
            <div class="toc">{{ blog_post.toc|safe }}</div>
        </div>
    {% endif %}
{% endblock %}
